body {
  font-family: "crossorigin", sans-serif;
  margin: 0;
  background: #737676;
  color: #000009;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background: linear-gradient(100deg, #f0d317, #cd22dd);
  padding: 2.5rem 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}

section {
  background: rgb(128, 223, 205);
  padding: 1.5rem;
  border-radius: 21px;
  margin-bottom: 2rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #000000;
  
}

.form-wrapper {
  display: flex;
  gap: 1.5rem;
}

input, select, textarea {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #cd22dd;
  flex: 1;
}

textarea {
  resize: vertical;
  min-height: 70px;
}

.star-label {
  font-size: 1.2rem;
  cursor: pointer;
}

button {
  background: #be53c8;
  border: none;
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 18px;
  cursor: pointer;
  width: 44%;
}

button:hover {
  background: #83e1a6;
}

#feedback {
  margin-top: 0.4rem;
  font-weight: bold;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  height: 18px;
  background: #fde68a;
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #86efac;
  transition: width 0.3s ease;
}

/* Application list */
ul {
  list-style: none;
  padding: 0;
}

.application {
  padding: 1rem;
  border-radius: 14px;
  margin-bottom: 0.8rem;
  background: #f9fafb;
}

.application.priority {
  background: #ecd1eb; /* soft pink */
  border: 2px solid #ed3299;
}

.application-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.app-details span {
  font-weight: bold;
}

.status-Applied { color: #3b82f6; }
.status-Interview { color: #c98105; }
.status-Offer { color: #be319f; }
.status-Rejected { color: #ef4444; }

.notes {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.8;
}

.delete-btn {
  background: #be53c8;
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 999px;
  font-size: 0.8rem;
  cursor: pointer;
}

.notes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Responsive */
@media (max-width: 600px) {
  .form-wrapper {
    flex-direction: column;
  }
}